:root {
  --main: #252B48;
  --stuff: #424769;
  --overy: #61677A;

  --trans: 0.2s ease-out;
}

* {
  font-family: poppins;
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shadow {
  position: fixed;
  top: -90%;
  height: 1500px;
  width: 1500px;
  background: radial-gradient(#ffffff16, transparent, transparent);
  border-radius: 50%;
}

.selections {
  margin-top: 30vh;
  gap: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 1;
}

.selections .paper {
  margin-top: 30px;
}

.selections h1 {
  font-size: 1.1rem;
  text-align: center;
  color: var(--overy);
  font-weight: 400;
  text-transform: uppercase;
}

.selection {
  background: var(--stuff);
  border: 4px solid #ddd;
  cursor: pointer;
  border-bottom: 15px solid var(--main);
  height: 150px;
  width: 150px;

  border-radius: 50%;
  padding: 35px;
  transition: var(--trans);
  box-shadow: inset 0 10px 1px #252B4820;
}

.selection:hover {
  transform: scale(1.1);
  box-shadow: inset 0 12px 2px #252B4820;
}

.selection:active {
  transform: scale(1);
  transition: 0.05s;
  box-shadow: inset 0 6px 0px #252B4820;
}

.selection:active img {
  opacity: 0.8;
}

.selection img {
  transition: 0.1s;
  height: 55px;
  width: 55px;
  opacity: 0.7;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
}


/* RUSULTS */
.results {
  position: absolute;
  top: 90vh;
  display: grid;
  max-width: 580px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: repeat(2, 1fr);
  background: var(--main);
}

.result-title {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  height: 8vh;
  font-size: 2rem;
  color: #fff;
  text-transform: uppercase;
  background: var(--main);
  z-index: 2;
  border-bottom: 2vh solid var(--stuff);
}

.result-title span {
  background: var(--stuff);
  padding: 0 8px;
  margin-left: 10px;
}

.results-selection {
  position: relative;
  opacity: 0.8;
  text-align: center;
  background: var(--overy);
  padding: 10px;
  font-size: 20px;
}

.results-selection.winner {
  opacity: 1;
}

.clear {
  position: absolute;
  right: 3rem;
  top: 2rem;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  gap: 5px;
  padding: 0 10px;
  background: var(--overy);
  border: 1px solid azure;
  border-radius: 8px;
  color: var(--main);
  cursor: pointer;
  transition: var(--trans);
  box-shadow: inset 4px 4px 0px #252B4820;
}

.clear:hover {
  transform: scale(1.05);
}

.clear:active {
  transform: scale(1);
  transition: 0.05s;
  box-shadow: inset 6px 6px 0px #252B4820;
}

.clear svg {
  width: 20px;
}

@media screen and (max-width: 600px) {
  .selections {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 8rem;
  }

  .selections .paper {
    margin-top: 0px;
  }
}

@media screen and (max-width: 400px) {
  .selections {
    margin-top: 4rem;
  }

  .results {
    top: 80vh;
  }


  .result-title {
    font-size: 1rem;
  }
}